# Production Environment Overrides
vote:
  replicaCount: 3
  resources:
    requests:
      cpu: 250m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

result:
  replicaCount: 2
  resources:
    requests:
      cpu: 100m
      memory: 64Mi

worker:
  replicaCount: 1

db:
  persistence:
    storageClass: "gp2"
    size: 10Gi

image:
  pullPolicy: Always
