name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]
  release:
    types: [published]

jobs:
  deploy-dev:
    if: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name voteapp-eks --region us-east-1

      - name: Deploy to Dev (VoteApp Namespace)
        run: |
          helm upgrade --install voteapp helm/voteapp/ \
            --namespace voteapp --create-namespace \
            --set image.registry=718307299298.dkr.ecr.us-east-1.amazonaws.com \
            --set image.tag=latest \
            --set vote.replicaCount=1

  deploy-prod:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name voteapp-eks --region us-east-1

      - name: Deploy to Prod (VoteApp-Prod Namespace)
        run: |
          helm upgrade --install voteapp-prod helm/voteapp/ \
            --namespace voteapp-prod --create-namespace \
            --set image.registry=718307299298.dkr.ecr.us-east-1.amazonaws.com \
            --set image.tag=${{ github.event.release.tag_name }} \
            --set vote.replicaCount=3 \
            --set result.replicaCount=2
